.NominatedList {
    width: 450px;
}

.NominatedListSpacer {
    /*height: 100px; */
}

.NominationListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.NominationsListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.NominationsListImage {
    margin-left: 10px;
    width: 100px;
    height: 156px;
    object-fit: cover;
    object-position: center;
}

.NominationsListInfo {
    text-align: center;
    width: 100%;
}