.FinishedScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,255,255, 0.8);
    color: #1e4b40;
}

.FinishedScreenTitle {
    font-weight: 800;
}

.FinishedScreenMovieList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    max-height: 500px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.FinishedScreenMovieItemImage {
    width: 150px;
    height: 234px;
    object-fit: cover;
    object-position: center;
}