.LandingScreen {
    margin-top: 50px;
    background-color: #faf7ee;
    height: 500px;

    display: flex;
    flex-direction: row;
}

.LandingScreenLeft {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.LandingScreenLeftInfo {
    margin-left: 30px;
    width: 75%;
    text-align: left;
    
}

.LandingScreenLeftTitle {
    color: #1e4b40;
    font-weight: 800;
}

.LandingScreenImage {
    width: 35%;
    object-fit: cover;
    object-position: center;
}